{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": ["dynamic-import-webpack", [
      "css-modules-transform", {
        "generateScopedName": "[name]__[local]--[hash:base64:5]"
      }
    ], [
      "react-loadable/babel", {
        "server": true,
        "webpack": true
      }
    ]
  ]
}
